@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
@layer base {
  :root {
    --background: 200 50% 3%;
    --foreground: 200 20% 98%;
    --card: 200 50% 4.5%;
    --card-foreground: 200 20% 98%;
    --popover: 200 45% 5.5%;
    --popover-foreground: 200 20% 98%;
    --primary: 189 70% 52%;
    --primary-foreground: 189 10% 5%;
    --secondary: 200 30% 15%;
    --secondary-foreground: 200 20% 98%;
    --muted: 200 35% 15%;
    --muted-foreground: 200 20% 70%;
    --accent: 189 30% 25%;
    --accent-foreground: 200 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 50% 10%;
    --input: 200 50% 10%;
    --ring: 189 70% 52%;
    --radius: 0.5rem;
  }
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
